* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 20px 20px 0px;
}
.header-container {
  border-bottom: 2px solid #9ca3af;
  padding-bottom: 20px;
}
.header-container h1 {
  color: #1e1e1e;
  font-size: 32px;
}
.header-container p {
  font-size: 14px;
  color: #828181;
}
.search-box {
  width: 280px;
  height: 45px;
  border-radius: 4px;
  border: 0.6px solid rgba(30, 30, 30, 0.3);
  display: flex;
  background: rgba(30, 30, 30, 0.02);
  align-items: center;
  padding: 10px;
}
.search-box > i {
  font-size: 20px;
  padding: 5px;
  color: #9ca3af;
}
.search-box > input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 12px;
  background: rgba(30, 30, 30, 0.02);
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section img {
  margin-top: 142px;
}
.hero-section .hero-text {
  font-size: 14px;
  text-align: center;
  color: #848f9f;
  font-style: normal;
  line-height: 20px;
  font-weight: 400;
}
 .hero-cta {
  color: #ffffff;
  background: #354653;
  border-radius: 6px;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
}

.discount-form {
  margin: 30px 0 5px;
}
.discount-form h6 {
  font-size: 13px;
  color: #5f738c;
  font-style: normal;
}
.discount-form .code-input {
  width: 625px;
  height: 48px;
  font-size: 14px;
  padding: 5px;
  background: #f3f5f6;
  border-radius: 6px;
  outline: none;
  border: none;
}
.discount-form .limited-cta {
  
  background: #ffffff;
  border: 1px solid #01465e;
  border-radius: 6px;
  width: 101px;
  height: 48px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #4e5a6c;
  text-align: center;
}
.discount-form .unlimited-cta {
  background: #f3f5f6;
  border: 1px solid #f3f5f6;
  border-radius: 6px;
  width: 101px;
  height: 48px;
  color: #01465e;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-left: 15px;
}
.date-section {
  display: flex;

  /* justify-content: space-around; */
  flex-wrap: wrap;
}
.date-section .end-date {
  margin-left: 20px;
}
.date-section input {
  width: 302px;
  height: 48px;
  background: #f3f5f6;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 5px;
  color: #353f50;
}
.custom-control{
    margin: 10px 10px;
    
   
    
}
.fa {
  margin: 7px 0px;
  cursor: pointer;
  
}
.discount-section {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
  }
  .discount-section .discount-applied {
    margin-left: 20px;
  }
  .discount-section select, input {
    width: 302px;
    height: 48px;
    background: #f3f5f6;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 15px;
    color: #353f50;
    
  }
  .item-discounted{
    margin: 30px 10px;
  }
  .item-discounted select {
    width: 302px;
    height: 48px;
    background: #f3f5f6;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 15px;
    color: #353f50;
  }
  .item-discounted a{
    margin-left: 20px;
    text-decoration: none;
  }
  .discount-cta {
    color: #ffffff;
    background: #354653;
    border-radius: 6px;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    width:160px;
    height: 43px;;
    align-items: center;
    border: none;
    outline: none;
    text-decoration: none;

    
  }
  .cancel-cta{
    background: #EAECEF;
    border-radius: 6px;
    color: #1F2126;
    width: 161px;
    height: 43px;
    outline: none;
    border: none;
    align-items: center;
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px; 
  }
  .search-button{
    display: flex;
    justify-content: space-between;
  }
  a:hover, a:active {
    text-decoration: none;
    color: white;
 }